/*------------------------------------------------------------------
ver 1.3

[Table of contents]
1. Global CSS
          1.1 Global Header Logo/Menu CSS
          1.2. Global Section CSS
2. Home Section CSS
3. Services Section CSS
4. Portfolio Section CSS
5. Inspire Section CSS
6. About Section CSS
7. News Section CSS
8. Pricing Section CSS
9. Skills Section CSS
10. Team Section CSS
11. Clients Section CSS
12. Contact Section CSS
13. Milestones Section CSS
14. Footer CSS
15. Responsive CSS
-------------------------------------------------------------------*/

/* ===================================
    1. Global CSS
====================================== */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #ff1e5c;
  transition: color 0.2s ease;
}

body a:hover {
  color: #ff1e5c;
}

body p,
body pre {
  margin-bottom: 13px;
}

.site-wrapper img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.doc-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #080808;
}

.doc-loader img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-1170 {
  width: 1170px;
}

.content-960 {
  width: 960px;
}

.content-740 {
  width: 740px;
}

.pagination-holder {
  margin: 60px 0;
}

.section-wrapper {
  position: relative;
  padding: 75px 0;
}

/* ===================================
    1.1 Global Header Logo/Menu CSS
====================================== */

.header-holder {
  z-index: 99 !important;
  background-color: #060606;
  width: 100% !important;
  top: 0;
  position: fixed;
  transform: translateZ(0);
}

.sticky-wrapper {
  height: 77px !important;
}

.admin-bar .header-holder {
  top: 32px !important;
}

.menu-wrapper {
  width: 98%;
  max-width: 1450px;
  min-height: 77px;
}

.header-logo {
  line-height: 0;
  font-size: 0;
  float: left;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.menu-holder {
  float: right;
  max-width: 80%;
}

.toggle-holder {
  display: none;
  right: 10px;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#toggle:hover {
  cursor: pointer;
}

#toggle div {
  height: 3px;
  margin-bottom: 6px;
  background-color: #fff;
  width: 22px;
}

#toggle .second-menu-line {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

#toggle:hover .second-menu-line {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

#toggle.on .second-menu-line {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}

.is-touch #toggle .second-menu-line {
  -webkit-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}

.is-touch #toggle.on .second-menu-line {
  -webkit-transform: translate3d(-10px, 0, 0) !important;
  transform: translate3d(-10px, 0, 0) !important;
}

#toggle .third-menu-line {
  margin-bottom: 5px;
}

#header-main-menu {
  display: inline-block;
}

.sm-clean .has-submenu {
  padding-right: 35px !important;
}

body .site-wrapper .sm-clean a {
  cursor: pointer;
  color: #ffffff;
}

.sm-clean a span.sub-arrow {
  right: 3px;
}

.sm-clean a.highlighted {
  padding: 15px;
}

.sm-clean a,
.sm-clean a:hover,
.sm-clean a:focus,
.sm-clean a:active {
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 15px;
}

.sm-clean ul a,
.sm-clean ul a:hover,
.sm-clean ul a:focus,
.sm-clean ul a:active {
  font-size: 13px;
  line-height: 15px;
  padding: 10px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.sm-clean {
  background-color: transparent;
  padding: 15px 0;
}

body .sm-clean a:hover,
body .main-menu.sm-clean .sub-menu li a:hover,
body .sm-clean li.active a,
body .sm-clean li a.active,
body .sm-clean li.current-page-ancestor > a,
body .sm-clean li.current_page_ancestor > a,
body .sm-clean li.current_page_item > a {
  color: #ff1e5c !important;
}

.sm-clean li {
  margin-right: 10px;
}

.sm-clean li:last-child {
  margin-right: 0;
}

.sm-clean ul {
  background-color: #000;
}

.sm-clean a.has-submenu {
  padding-right: 24px;
}

.sub-menu a,
.children a {
  padding-left: 15px !important;
}

.sub-menu .sub-menu,
.children .children {
  padding-top: 8px;
}

.sub-menu .sub-menu a,
.children .children a,
.sub-menu .sub-menu a:hover,
.children .children a:hover {
  padding-top: 10px !important;
}

@media (min-width: 925px) {
  .sm-clean ul a span.sub-arrow {
    margin-top: 0;
  }
  .sm-clean ul {
    padding: 8px 0;
  }
}

@media (max-width: 925px) {
  .sm-clean ul {
    background-color: #fff;
  }
}

.sm-clean > li:last-child > a,
.sm-clean > li:last-child > *:not(ul) a,
.sm-clean > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > a,
.sm-clean > li:last-child > ul > li:last-child > *:not(ul) a,
.sm-clean > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > a,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > *:not(ul)
  a,
.sm-clean
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul
  > li:last-child
  > ul {
  border-radius: 5px;
}

/* ===================================
    1.2. Global Section CSS
====================================== */

.section {
  background-color: #1e1e1e;
  overflow: hidden;
}

.section h2.entry-title,
.page-template-default.page .section h1.entry-title {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-weight: 200;
  word-break: break-word;
}

.page .page-content {
  background-color: #fff;
  padding: 75px;
}

.sticky-spacer {
  /* position: static !important; */
}

.section-title-holder {
  width: 270px;
  position: relative;
  color: #fff;
  word-break: break-all;
  padding-top: 50px;
}

.section-content-holder {
  width: 690px;
  margin-top: 50px;
}

.no-padding .section-content-holder {
  margin-top: 0;
  width: 810px;
}

.no-padding .section-content-holder.float-right {
  float: left;
  margin-left: 88px;
}

.no-padding .section-content-holder.float-left {
  float: right;
  margin-right: 90px;
}

@media screen and (min-width: 1025px) {
  .no-padding .section-wrapper {
    padding: 0;
  }

  .no-padding .section-title-holder {
    padding-top: 125px;
    padding-bottom: 75px;
  }
}

.section.page-split h2.entry-title {
  text-align: left;
  padding-top: 0;
  font-size: 80px;
}

.section .page-desc {
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 60px;
  word-break: break-word;
}

.section.page-split .section-title-holder .page-desc {
  text-align: left;
  margin-bottom: 40px;
  margin-top: 60px;
}

.full-width {
  padding: 50px 0;
}

.section.full-screen {
  min-height: calc(100vh - 77px);
  display: flex;
  padding: 0;
}

.section.full-screen .section-wrapper {
  margin: auto;
  padding: 0;
}

.bg-holder {
  float: none !important;
}

.bg-holder.float-left .split-color {
  position: absolute;
  top: 0;
  transform: translateX(-104%);
  left: 405px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.bg-holder.float-right .split-color {
  position: absolute;
  top: 0;
  transform: translateX(100%);
  right: 360px;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #d41e5c;
}

/* ===================================
    2. Home Section CSS
====================================== */

#home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big-text {
  font-size: 44px;
  line-height: 60px;
  font-weight: 700;
}

/* ===================================
    3. Services Section CSS
====================================== */

#services {
  background-color: #ff1e5e;
}

#services .split-color {
  background-color: #d41e5b;
}

.service-holder {
  margin: 25px 0;
}

.service-holder:after {
  content: '';
  display: block;
  clear: both;
}

.service-img {
  float: left;
  width: 30%;
  max-width: 90px;
}

.service-txt {
  float: left;
  margin-left: 25px;
  text-align: left;
  line-height: 25px;
  width: calc(70% - 25px);
}

.service-txt h4 {
  font-size: 19px;
  padding-bottom: 10px;
  padding-top: 0;
  color: #fff;
  font-weight: 600;
}

/* ===================================
    4. Portfolio Section CSS
====================================== */

#portfolio {
  background-color: #5067c1;
}

#portfolio .split-color {
  background-color: #505cc1;
}

.grid {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  font-size: 0;
  line-height: 0;
}

.grid-sizer {
  width: 50%;
}

.grid-item {
  float: left;
  font-size: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

.grid-item.p_one_half {
  width: 50%;
}

.grid-item.p_one {
  width: 100%;
}

.grid-item img {
  width: 100% !important;
  height: auto;
  display: block;
}

.grid-item .entry-holder {
  text-align: center;
  background-color: #fff;
  padding: 50px 20px;
}

.grid-item a.item-link:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-text-holder {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%);
  transition: all 0.3s ease;
  text-align: center;
}

.portfolio-title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
}

.portfolio-desc {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  letter-spacing: 2px;
}

.grid-item a.item-link:hover:after,
.grid-item a.item-link:hover .portfolio-text-holder {
  opacity: 1;
}

.more-posts-portfolio-holder {
  min-height: 1px;
  margin-top: -1px;
  margin-bottom: 50px;
}

.no-padding .more-posts-portfolio-holder {
  margin-bottom: 0;
}

.more-posts-portfolio-holder img {
  width: 70px !important;
  height: 70px !important;
}

.more-posts-portfolio-holder.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.more-posts-portfolio {
  color: #fff;
  background-color: #000000;
  padding: 17px 6px 17px 14px;
  display: block;
  transition: all 0.3s ease;
}

.more-posts-portfolio {
  cursor: pointer;
}

.portfolio-load-content-holder {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.5s ease;
  width: 690px;
  max-width: 100%;
}

.section-content-holder.float-right .portfolio-load-content-holder {
  margin-right: 0;
  margin-left: auto;
}

.section-content-holder.float-left .portfolio-load-content-holder {
  margin-right: auto;
  margin-left: 0;
}

.portfolio-load-content-holder.show {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-load-content-holder.show.viceversa {
  opacity: 0;
  transform: translateY(70px);
}

.section.no-padding .portfolio-content-wrapper {
  margin: 75px 0;
}

.portfolio-content-wrapper {
  display: none;
}

.portfolio-content-wrapper.show {
  display: block;
}

#portfolio-grid {
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0px);
}

#portfolio-grid.hide {
  opacity: 0;
  transform: translateY(70px);
}

.grid-item a.item-link.animate-plus:after,
.ajax-portfolio.animate-plus .portfolio-text-holder {
  opacity: 1;
}

.portfolio-item-wrapper {
  width: 690px;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 95%;
}

/* ===================================
    5. Inspire Section CSS
====================================== */

#inspire {
  background-image: url(images/bg_sec.jpg);
  background-color: #000000;
  background-position: left top;
  background-repeat: repeat;
  background-size: cover;
}

/* ===================================
    6. About Section CSS
====================================== */

#about {
  background-color: #ffc43b;
}

#about .split-color {
  background-color: #ffd23e;
}

/* ===================================
    7. News Section CSS
====================================== */

#news {
  background-color: #ff1e5e;
}

#news .split-color {
  background-color: #d41e5b;
}

.blog-holder-scode {
  margin-top: -30px;
}

.blog-holder-scode article:nth-of-type(2n) {
  margin-right: 0;
}

.blog-item-holder-scode {
  margin: 30px 0;
  width: 45%;
  display: inline-block;
  margin-right: 8%;
  vertical-align: text-top;
}

.blog-item-holder-scode .excerpt {
  margin-top: 20px;
}

.blog-item-holder-scode h4 {
  padding: 0;
  max-width: 930px;
  margin: 0 auto;
}

.blog-item-holder-scode h4 a {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.blog-item-holder-scode h4 a:hover {
  color: #fff;
  opacity: 0.5;
}

.blog-item-holder-scode .cat-links ul {
  list-style: none;
  padding: 0;
}

.blog-item-holder-scode .cat-links ul li {
  display: inline-block;
}

.blog-item-holder-scode .cat-links ul li a:after {
  content: ',';
  padding-right: 5px;
}

.blog-item-holder-scode .cat-links ul li:last-child a:after {
  display: none;
}

.blog-item-holder-scode .cat-links ul a {
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease;
}

.blog-item-holder-scode .cat-links ul li a:hover {
  opacity: 0.5;
}

.blog-item-holder-scode .entry-date.published,
.blog-item-holder-scode .cat-links {
  display: inline-block;
  font-size: 14px;
  margin-top: -10px;
}

.blog-item-holder-scode .entry-date.published:after {
  content: '\2022';
  display: inline-block;
  margin: 0 7px 0 10px;
}

.blog-holder-scode .more-posts-link {
  vertical-align: text-bottom;
  display: inline-block;
  background: #864eff;
  border-radius: 5px;
  width: 255px;
  height: 90px;
}

.blog-holder-scode .more-posts-link a {
  display: block;
  text-align: center;
}

.blog-holder-scode .more-posts-link img {
  transition: transform 0.3s ease;
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.blog-holder-scode .more-posts-link:hover img {
  transform: translateX(10px);
}

/* ===================================
    8. Pricing Section CSS
====================================== */

#pricing {
  background-color: #111111;
}

.pricing-table {
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;
  color: #969696;
  background-color: #000000;
  margin-top: 30px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-table-title {
  background-color: #ff1e5c;
  color: #fff;
  font-size: 24px;
  padding: 40px 0;
  margin-bottom: 25px;
}

.pricing-table-price {
  font-size: 60px;
  line-height: 100%;
  color: #ffffff;
}

.pricing-table ul {
  padding: 0;
  list-style: none;
  margin-top: 25px;
}

.pricing-table ul li {
  padding: 10px 0;
}

.pricing-table-content-holder {
  padding: 0 10%;
  margin-bottom: 40px;
}

.pricing-button {
  display: inline-block;
  color: #fff !important;
  border: 2px solid;
  text-align: left;
  padding-bottom: 17px;
  padding-top: 17px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.2s linear;
  margin-bottom: 17px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}

.pricing-button:hover {
  opacity: 0.5;
}

.pricing-orange {
  background-color: #de8234;
}

.pricing-blue {
  background-color: #505cc1;
}

.pricing-green {
  background-color: #37bd6c;
}

/* ===================================
    9. Skills Section CSS
====================================== */

#skills {
  background-color: #5067c1;
}

#skills .split-color {
  background-color: #505cc1;
}

.skills-holder {
  position: relative;
  margin: 40px 0;
}

.skill-holder {
  margin-bottom: 30px;
}

.skill-holder:after {
  clear: both;
  display: block;
  content: '';
}

.skill-percent {
  font-size: 48px;
  line-height: 100%;
  font-weight: 100;
  width: 100px;
  display: inline-block;
  vertical-align: text-top;
}

.skill {
  width: 100%;
  height: 3px;
  background-color: rgba(202, 202, 202, 0.3);
  margin-bottom: 30px;
}

.skill-text {
  display: inline-block;
  width: calc(100% - 145px);
  margin-right: 0;
  float: right;
  vertical-align: text-top;
}

.skill-fill {
  width: 5%;
  height: 10px;
  background-color: #fff;
  transition: 1.5s ease;
}

.skill-text span {
  font-size: 22px;
  line-height: 35px;
}

/* ===================================
    10. Team Section CSS
====================================== */

#team {
  background-color: #ff1e5e;
}

#team .split-color {
  background-color: #d41e5b;
}

.member-item-wrapper {
  width: 690px;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 95%;
}

.section.no-padding .member-content-wrapper {
  margin: 75px 0;
}

.info-text {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 40px;
  font-weight: 100;
}

#team-holder {
  position: relative;
  margin-bottom: 50px;
}

.section.no-padding #team-holder {
  margin-bottom: 0;
}

.member-holder-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 0.5s ease;
  opacity: 1;
  transform: translateY(0px);
}

.member-holder-wrapper li.one_third:nth-child(3n),
.member-holder-wrapper li.one_half:nth-child(2n),
.member-holder-wrapper li.one_fourth:nth-child(4n) {
  margin-right: 0;
}

.member-info-holder {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.member-name {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 0;
}

.member-position {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  margin-left: -2px;
  color: #fff;
  line-height: 100%;
}

.team-load-content-holder {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.5s ease;
  width: 690px;
  max-width: 100%;
}

.section-content-holder.float-right .team-load-content-holder {
  margin-right: 0;
  margin-left: auto;
}

.section-content-holder.float-left .team-load-content-holder {
  margin-right: auto;
  margin-left: 0;
}

.team-load-content-holder.show {
  transform: translateY(0);
  opacity: 1;
}

.team-load-content-holder.show.viceversa {
  opacity: 0;
  transform: translateY(70px);
}

.member-holder {
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0px);
  text-align: center;
}

.member-holder.one_half {
  margin: 0;
  width: 50%;
}

.member-holder.one_third {
  margin: 0;
  width: calc(100% / 3);
}

.member-holder.one_fourth {
  margin: 0;
  width: calc(100% / 4);
}

.member-holder img.attachment-post-thumbnail {
  width: 100%;
  height: 100%;
  display: block;
}

.member-holder.hide {
  opacity: 0;
  transform: translateY(70px);
}

.member-content-wrapper {
  display: none;
}

.member-content-wrapper.show {
  display: block;
}

.close-icon:hover {
  background-position: -5px 0;
}

.member-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.member-mask:hover {
  opacity: 1;
}

.member-mask.animate-plus {
  opacity: 1;
}

.member-holder a.img-link {
  position: relative;
  display: block;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

/* ===================================
    11. Clients Section CSS
====================================== */

#clients {
  background-color: #000000;
}

/* ===================================
    12. Contact Section CSS
====================================== */

#contact {
  background-color: #ff1e5e;
}

#contact .split-color {
  background-color: #d41e5b;
}

.contact-form {
  max-width: 100%;
  margin: 0 auto;
  font-size: 22px;
  color: #000;
}
.contact-form p {
  margin-bottom: 0 !important;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  border: 0;
  font-size: 16px;
  padding: 5px 0;
  width: 100%;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 35px;
  text-indent: 10px;
  background-color: transparent;
  border-bottom: 1px solid;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type='text']::-webkit-input-placeholder,
.contact-form input[type='email']::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.contact-form input[type='text']::-moz-placeholder,
.contact-form input[type='email']::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  opacity: 1;
}

.contact-form input[type='text']:-ms-input-placeholder,
.contact-form input[type='email']:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.contact-form input[type='text']:-moz-placeholder,
.contact-form input[type='email']:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  opacity: 1;
}

.contact-form input[name='your-name'] {
  margin-top: 0;
}

.contact-submit-holder {
  position: relative;
  margin-bottom: 25px;
}

.contact-form input[type='submit'] {
  display: block;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  margin-bottom: 25px;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: transparent;
  padding-bottom: 17px;
  padding-top: 17px;
  transition: all 0.2s linear;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}

.contact-form input[type='submit']:hover {
  opacity: 0.5;
}

/* ===================================
    13. Milestones Section CSS
====================================== */

#milestones {
  background-color: #111111;
}

ul.milestones-holder {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  text-align: center;
}

li.milestone {
  display: inline-block;
  position: relative;
  margin: 0 50px;
}

li.milestone:before {
  content: '/';
  display: inline-block;
  position: absolute;
  right: -55px;
  font-size: 55px;
  top: 0;
  line-height: 100%;
  font-weight: 100;
  transform: rotate(27deg);
  color: #969696;
}

li.milestone:last-child:before {
  display: none;
}

p.milestone-num {
  font-size: 65px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

p.milestone-text {
  font-size: 22px;
  line-height: 30px;
  color: #969696;
  max-width: 190px;
  margin: 0 auto;
}

p.milestone-num:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
}

/* ===================================
    14. Footer CSS
====================================== */

footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.footer {
  font-size: 16px;
  line-height: 36px;
  padding-top: 70px;
  padding-bottom: 65px;
  clear: both;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  background-color: #000;
}

.footer-content {
  padding-top: 35px;
  width: 900px;
  padding-bottom: 35px;
}

.footer-mail {
  font-size: 46px;
  margin-bottom: 35px;
  line-height: 100%;
  font-weight: 700;
}

.footer-number {
  font-size: 24px;
  margin-bottom: 100px;
}

.footer-info {
  font-size: 18px;
  line-height: 24px;
  color: #969696;
  margin-bottom: 50px;
}

.social-holder {
  margin-bottom: 35px;
}

.social-holder a {
  font-size: 28px;
  margin-right: 25px;
}

.social-holder a:last-of-type {
  margin: 0;
}

.site-wrapper .footer a {
  color: #fff;
}

.site-wrapper .footer a:hover {
  color: #ff1e5c;
}

/* New Modifications */
.site-content {
  padding-top: 77px;
}

.inspire-slider .swiper-slide {
  cursor: pointer;
}
.video-popup-holder {
  cursor: pointer;
}

.inspire-slider {
  padding-bottom: 40px !important;
}

/* Portfolio items layout */

#portfolio-wrapper {
  padding-top: 30px;
}
#portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

#portfolio-grid > .\000032x2 {
  flex-basis: 100%;
}
#portfolio-grid > div {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  #portfolio-grid > .\000031x1 {
    flex-basis: 50%;
  }
  #portfolio-grid > .\000031x2 {
    flex-basis: 50%;
  }
  #portfolio-grid > .\000032x1 {
    flex-basis: 100%;
  }

  #portfolio-grid .\000031x1 + .\000031x2 + .\000031x1 {
    margin-top: -50%;
  }
}

#portfolio-grid img {
  display: block;
}

#portfolio-grid .portfolio-item-box {
  position: relative;
  cursor: pointer;
}

#portfolio-grid .portfolio-item-box img {
  width: 100%;
}

.portfolio-item-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item-box:hover .portfolio-item-info {
  opacity: 1;
}

/* Popup styles */

#popup-root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  pointer-events: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  width: 100% !important;
  height: fit-content;
  max-width: 600px;
  padding: 10px;
  border: none;
  animation: show-popup 0.75s ease forwards;
}

.video-popup {
  width: 100%;
}

.video-popup iframe {
  aspect-ratio: 16 /9;
}
@media (max-width: 730px) {
  .popup-content {
    width: calc(100% - 50px) !important;
  }
}
@keyframes show-popup {
  from {
    opacity: 0.4;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.poped-up-item {
  display: block;
  margin-bottom: 0 !important;
}

.popup-image-box {
  /* max-width: 700px; */
  display: block;
}
.popup-image-box img {
  width: 100%;
}

.close-popup-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 20px;
  height: 20px;
  padding: 10px;
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.close-popup-btn img {
  display: block;
  width: 100%;
}

/* ------ */

.portfolio-load-content-holder {
  padding-top: 80px;
  animation: showing-portfolio-item-animation 1.5s ease forwards;
  margin: 0 auto !important;
}

@keyframes showing-portfolio-item-animation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: #687ac1;
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: 70px;
  /* transition: all 0.3s ease; */
  cursor: pointer;
}
.team-load-content-holder .close-icon {
  background-color: #f14173;
}
.close-icon img {
  width: 100%;
  transition: transform 0.3s ease;
}

.close-icon:hover img {
  transform: translateX(-5px);
}

/* .image-slider-wrapper {
} */
.image-slider-wrapper img {
  width: 100%;
}

.portfolio-content {
  padding-bottom: 50px;
}
.portfolio-slider {
  width: 100%;
  height: 100%;
  padding-bottom: 40px !important;
}

.portfolio-slider .swiper-slide {
  text-align: center;
  background: #fff;
}

.portfolio-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.portfolio-slider .swiper-pagination {
  text-align: center;
  bottom: 0px !important;
}

.clients-slider {
  padding-bottom: 60px !important;
}

.portfolio-slider .swiper-pagination-bullet,
.inspire-slider .swiper-pagination-bullet,
.clients-slider .swiper-pagination-bullet {
  margin: 0 8px !important;
  background-color: #969696;
  transition: all 0.3s ease;
  width: 18px;
  height: 18px;
  border-radius: 90%;
  opacity: 1;
}
.swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px 4px #fff;
}

p.block-right {
  width: 100%;
}

p.block-right iframe {
  aspect-ratio: 16 / 9;
}

/* Team Members */
.team-load-content-holder {
  padding-top: 80px;
  animation: showing-member-item-animation 1.5s ease forwards;
  margin: 0 auto !important;
}

@keyframes showing-member-item-animation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.team-load-content-holder.close-icon {
  background-color: #f14173 !important;
}

.respond-message {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: #f34476;
  color: #fff;
  font-size: 16px;
}

/* Loader */
.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: opacity 0.5s;
}
.preloader .loader {
  width: 50px;
  height: 50px;
  border: 5px solid #969696;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loading-animation 2s linear infinite;
}
.preloader.fadeOff {
  opacity: 0;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------ */

/* Additions */
.text-slide-content {
  line-height: 40px;
  font-style: italic;
  font-size: 20px;
}
