.artwork {
    position: absolute;
    z-index: 10;

    &-1 {
        bottom: -32.9rem;
        right: -4.3rem;
    }

    &-2 {
        bottom: -22.5rem;
        left: -5.1rem;
    }

    &-3 {
        bottom: -33.2rem;
        right: -4.3rem;
    }

    &-4 {
        top: -22.6rem;
        right: -4.4rem;
    }

    &-5 {
        top: -22.6rem;
        left: -5.1rem;
    }

    @media (max-width: 1199px) {
        display: none;
    }
}
